<!-- Starts up everything needed to run the example listener/talker nodes. -->
<launch>
  <arg name="segmentation/viz" default="true" />

  <node pkg="segmentation" type="handoff_seg" name="handoff_seg" output="screen">
    <param name="segmentation/viz" value="$(arg segmentation/viz)" />
  </node>
</launch>
